<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST.TJ</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <!--div class="time">00:00</div-->
    <div class="header">
        <h3 id="matematika">Математика</h3>
        <h3 id="biologia">Биология</h3>
        <h3 id="geografia">География</h3>
        <h3 id="fizika">Физика</h3>
        <h3 id="anatomia">Анатомия</h3>
        <h3 id="english">English</h3>
    </div>

    <div class="container" id="randomNumberGame">
        <h1>Welcome to TEST.TJ</h1>
        <a href="instagram/abdulloev19"><p>Ismoiljon Abdulloev</p></a>
        <!-- <button @click="generite">Generite</button>
        <input type="number" v-model="maxNumber" placeholder="max">
        <input v-model="setNumber" type="text" autofocus placeholder="input">
        <p>{{ sms }}</p>
        <p>Попитка {{ potitka }}</p>
        <button @click="proverkaRandNumber">Set</button> -->
    </div>

    <!--div class="container-drog">
        <div class="drog-item"></div>
        <div class="drog-point"></div>
    </div-->

    <!--div class="container">
        <div class="top">
            <p></p>
        </div>
        <div class="test">
            <button></button>
            <button></button>
            <button></button>
            <button></button>
        </div>
        <div id="result"></div>
    </div-->
    <div class="imodal"   id="imodal">
        <div class="open" @click="seen = true"></div>
        <div class="modal-overlay"  v-if="seen">
            <div class="modal-window">
                <div class="modal-header">
                    <h3>TEST.TJ</h3>
                    <div class="close">
                        <span @click="seen = false">-</span>
                        <span @click="seen = false, testtj = false, login = '',  errorText = ''">&times;</span> 
                    </div>
                   
                </div>
                <!--table-->
                <div class="table" v-if="testtj">
                    <table  class="content-table">
                        <thead>
                        </thead>
                        <tbody v-for="(val, prop) in ques">
                            <tr v-for="(value, property) in val">
                                <td>{{ value.questions}}</td>
                                <td>{{ value.correctAnswer}}</td>
                            </tr>
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
                <!--Login-->
                <div class="login" v-if="!testtj">
                    <div class="form">
                        <h3>Введите ключевые слова чтобы получить доступ</h3>
                        <input v-model="login" type="text" placeholder="Введите ключ" autofocus>

                        <button v-on:click="check()">Войти</button>
                        <p>{{ errorText }}</p>                  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/vue.global.js"></script>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/testtj.js"></script>
    <script src="js/script.js"></script>
</body>
</html>
